<section class="mx-auto max-w-4xl px-4 py-6">
  <div>
    <h2 class="text-2xl font-semibold">Cadastro de Atividade Médica</h2>
    <hr class="my-4 border-muted/30" />

    <mat-card class="p-4 rounded-2xl shadow-sm">
      <form [formGroup]="atividadeMedicaForm" (ngSubmit)="cadastrar()">
        <mat-card-header>
          <mat-card-title class="text-lg font-medium">
            Preencha o formulário de cadastro
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-6 space-y-4">
          @if (atividadeMedicaForm.hasError('apenasUmMedicoPorConsulta')) {
          <mat-error>Consultas podem ser realizadas por apenas um médico.</mat-error>
          }

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Início</mat-label>
            <input formControlName="inicio" matInput type="datetime" />

            @if (inicio?.errors?.['required']) {
            <mat-error>O início da atividade médica é obrigatório.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Término</mat-label>
            <input formControlName="termino" matInput type="datetime" />

            @if (termino?.errors?.['required']) {
            <mat-error>O término previsto da atividade médica é obrigatório.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Tipo de Atividade</mat-label>
            <mat-select formControlName="tipoAtividade">
              @for (tipo of tiposAtividadeMedica; track $index) {
              <mat-option [value]="tipo">{{ tipo }}</mat-option>
              }
            </mat-select>

            @if (tipoAtividade?.errors?.['required']) {
            <mat-error>O tipo da atividade médica é obrigatório.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Paciente</mat-label>
            <mat-select formControlName="pacienteId">
              @for (paciente of pacientes$ | async; track $index) {
              <mat-option [value]="paciente.id">{{ paciente.nome }}</mat-option>
              }
            </mat-select>

            @if (pacienteId?.errors?.['required']) {
            <mat-error>O paciente da atividade médica é obrigatório.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Médico(s)</mat-label>
            <mat-select formControlName="medicos" multiple>
              @for (medico of medicos$ | async; track $index) {
              <mat-option [value]="medico.id">{{ medico.nome }}</mat-option>
              }
            </mat-select>

            @if (medicos?.hasError('required')) {
            <mat-error>O médico da atividade médica é obrigatório.</mat-error>
            }
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="end" class="flex items-center justify-end gap-3 pt-4">
          <a mat-stroked-button routerLink="/atividades-medicas" class="px-4"> Voltar </a>

          <button
            type="submit"
            [disabled]="atividadeMedicaForm.invalid"
            mat-flat-button
            class="px-6"
          >
            <mat-icon class="!text-base mr-1">check</mat-icon>
            Concluir
          </button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>
</section>
